<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Salary Slip</title>
    <style>
        body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.salary-slip {
    width: 100%;
    background-color: #ffffff;
    /*padding: 20px;*/
    /*margin: 20px auto;*/
}

h2, h3, h4 {
    text-align: left;
    color: #333333;
    margin-bottom: 10px;
}

.salary-slip h2, h3 {
    text-align: center;
}

.employee-details {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Adjust spacing between columns */
}

.details1, .details2 {
    flex: 1;
    min-width: 250px; /* Ensure columns don't get too narrow */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table, th, td {
    border: 1px solid #dddddd;
}

th, td {
    padding: 10px;
    text-align: left;
    font-size: 14px;
}

th {
    background-color: #f4f4f4;
}

td {
    background-color: #ffffff;
}

.total p strong {
    font-weight: bold;
    margin-top: 20px;
    text-align: right;
}

.total {
    color: #333333;
}

.other-earnings {
    margin-top: 20px;
}

.other-earnings h4 {
    color: #333333;
    padding-bottom: 5px;
}

    </style>
</head>
<body>
    <div class="salary-slip">
        <h2>{{ doc.company }}</h2>
        <!--<p>65/65 Mod Mohal, Kanpur 208001</p>-->
        <h3>Salary Slip for {{ doc.month }} {{ doc.year }}</h3>

        <div class="employee-details">
            <div class = "details1">
            <p><strong>Name:</strong> {{ doc.employee_name }}</p>
            <p><strong>Email ID:</strong> {{ doc.personal_email }}</p>
            <p><strong>Designation:</strong> {{ doc.designation }}</p>
            <p><strong>Department:</strong> {{ doc.department }}</p>
            </div class = details2>
            <div><p><strong>Date of Joining:</strong> {{ doc.date_of_joining }}</p>
            <p><strong>Basic Salary | Per Day Rate:</strong> {{ doc.basic_salary }} | {{ doc.per_day_salary }}</p>
            <p><strong>Standard Days of Work: </strong>{{ doc.standard_working_days }}</p>
            <p><strong>Actual Working Days:</strong> {{ doc.actual_working_days }}</p>
            </div>
        </div>
        <div class="salary-calculation">
            <h4 style = " text-decoration: underline; 
    text-underline-offset: auto; " >Salary Calculation:</h4>
        <table>
            <thead>
                <tr>
                    <th>Particulars</th>
                    <th>Days</th>
                    <th>Rate</th>
                    <th>Effective Percent</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>
                {% if  doc.full_day_working_days  %}
                <tr>
                    <td>A. Full Day Working</td>
                    <td>{{ doc.full_day_working_days }}</td>
                    <td>{{ doc.full_days_working_rate }}</td>
                    <td>{{ doc.full_day_working_effective_percent }}%</td>
                    <td style="text-align: right;">{{ doc.full_day_working_amount }}</td>
                </tr>
                {% endif %}
                {% if doc.quarter_day_working_days %}
                <tr>
                    <td>B. Quarter Day Working</td>
                    <td>{{doc.quarter_day_working_days }}</td>
                    <td>{{ doc.quarter_day_working_rate }}</td>
                    <td>{{ doc.quarter_day_working_effective_percent }}%</td>
                    <td style="text-align: right;" >{{ doc.quarter_day_working_amount }}</td>
                </tr>
                {% endif %}
                {% if doc.half_day_working_days %}
                <tr>
                    <td>C. Half Day Working</td>
                    <td>{{ doc.half_day_working_days }}</td>
                    <td>{{ doc.half_day_working_rate }}</td>
                    <td>{{ doc.half_day_working_effective_percent }}%</td>
                    <td style="text-align: right;" >{{ doc.half_day_working_amount }}</td>
                </tr>
                {% endif %}
                {% if doc.three_four_quarter_days_working_days %}
                <tr>
                    <td>D. 3/4 Quarter Day Working</td>
                    <td>{{ doc.three_four_quarter_days_working_days }}</td>
                    <td>{{doc.three_four_quarter_days_rate }}</td>
                    <td>{{ doc.three_four_quarter_days_working_effective_percent }}%</td>
                    <td style="text-align: right;" >{{ doc.three_four_quarter_days_working_amount }}</td>
                </tr>
                {% endif %}
                {% if doc.lates_days %}
                <tr>
                    <td>E. Lates</td>
                    <td>{{ doc.lates_days }}</td>
                    <td>{{ doc.lates_rate }}</td>
                    <td>{{ doc.lates_effective_paercent }}%</td>
                    <td style="text-align: right;" >{{ doc.lates_amount }}</td>
                </tr>
                {% endif %}
            </tbody>
            <tfoot>
                <tr>
                  <th colspan="4" scope="row">Total [ ( A + B + C + D ) - E ]</th>
                  <td style="text-align: right;" >{{ doc.total }}</td>
                </tr>
            </tfoot>
        </table>
    </div>
        
        {% if doc.other_earnings_incentives or doc.other_earning_project_deadline_allowance or doc.other_earnings_special_incentives or doc.sunday_working_amount or doc.other_earnings_overtime or doc.adjustments  %}
        <div class="other-earnings">
            <h4 style = " text-decoration: underline;text-underline-offset: auto; ">
                Other Earnings:
            </h4>
            <table>
                <thead>
                    <!--<tr>-->
                    <!--    <th>Particulars</th>-->
                    <!--    <th>Amount</th>-->
                    <!--</tr>-->
                </thead>
                <tbody>
                    {% if doc.other_earnings_incentives %}
                    <tr>
                        <td>F. Incentive</td>
                        <td style="text-align: right;" >{{ doc.other_earnings_incentives }}</td>
                    </tr>
                    {% endif %}
                    {% if doc.other_earning_project_deadline_allowance %}
                    <tr>
                        <td>G. Project Deadline Allowance</td>
                        <td style="text-align: right;" >{{doc.other_earning_project_deadline_allowance }}</td>
                    </tr>
                    {% endif %}
                    {% if doc.other_earnings_special_incentives %}
                    <tr>
                        <td>H. Special Incentives</td>
                        <td style="text-align: right;" >{{doc.other_earnings_special_incentives }}</td>
                    </tr>
                    {% endif %}
                    {% if doc.sunday_working_amount %}
                    <tr>
                        <td>I. Sundays</td>
                        <td style="text-align: right;" >{{ doc.sunday_working_amount }}</td>
                    </tr>
                    {% endif %}
                    {% if doc.other_earnings_overtime %}
                    <tr>
                        <td>J. Overtime</td>
                        <td style="text-align: right;" >{{ doc.other_earnings_overtime }}</td>
                    </tr>
                    {% endif %}
                    {% if doc.adjustments %}
                    <tr>
                        <td>K. Ajustments</td>
                        <td style="text-align: right;" >{{ doc.adjustments }}</td>
                    </tr>
                    {% endif %}
                </tbody>
                <tfoot>
                     <tr>
                        <th scope="row" >Total Monthly Salary [ (F + G + H + I + J ) - K ]</th>
                        <td style="text-align: right;" > {{ doc.net_payble_amount }}</td>
                    </tr>
                </tfoot>
            </table>
        </div> {% endif %}
            <h6 style = " text-decoration: underline; text-underline-offset: auto; "><strong>Net Amount Payable : {{ doc.net_payble_amount }}</strong></h6>
        </div>
    </div>
</body>
</html>